/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
}
body {
	line-height: 1;
}
ol, ul {
	ul {
		list-style-type: square;
		list-style-position: inside;
	  }
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

nav {
	margin: auto;
	width: 876px;
}

nav a {
	text-decoration: none;
	color: grey;
	padding: 25px;
}

nav .logo {
	padding-left: 50px;
}

header {
	line-height: 0.75;
	margin: 50px 0px 50px 100px;
	width: 876px;
}

header .title{
	font-size: 58px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width:876px;
}
.button{
	width:50%;
}
header .title button {
	border: 1px solid black;
	background-color: white;
	margin-top: 0px;
	padding: 6px 40px;
}

header img {
	display: flex;
	width: 35%;
}

.top-content {
	display:flex;
	justify-content:space-around;
	width: 876px;
}

.top-content div {
	margin-right:100px;
}

.middle-img {
	margin: 30px 0px;
}

.bottom-content {
	width: 876px;
}

.bottom-content div {
	display: flex;
	justify-content:space-around;
}

.contact {
	margin-top: 30px;

}

body { /* centers the website */
	width: 876px;
	margin: 0 auto;
}

footer {
	margin-top: 50px;
	text-align: center;
}
.container{
	border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  
}

.toppersec{
	margin:0px auto;
	background-color: gray
}
.toppersec nav a{	
	color: wheat;
}
.logo{
	margin:0px auto;
	width:100%;
}
button {
	border: 1px solid black;
	background-color: white;
	margin-top: 0px;
	padding: 6px 40px;
	width:50%
}
h1{
	text-align:center;
	font-size: 60px;
}
.services p{
	font-size: 25px;
}
.sec_services{
	background-color: wheat;
}
.box{
	border: 1px solid black;
  width: 420px;
  height: 250px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f4f3f4;
 
}
#box{
	border: 1px solid black;
  width: 420px;
  height: 300px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f4f3f4;
 
}
.topsec{
	display: flex;
}
.middle{
	display: flex;
	justify-content: space-between;
}
.middle_two{
	display:flex;
	justify-content: space-between;
}

.bottom{
	display: flex;
	justify-content: space-around;
}
li{
	font-size: 20px;
}
.service_footer{
	font-size: 30px;
	text-align: center;
}
